{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "max-len": ["error", {
            "code": 120
        }],
        "no-console":["error", {"allow": ["warn", "error"]}],
        "@typescript-eslint/explicit-module-boundary-types":"error"
    }
}
